@use "./variables" as *

*
  margin: 0
  padding: 0

@for $i from 1 through length($font-sizes)
  .h#{$i}
    font-size: nth($font-sizes, $i)

  h#{$i}
    font-size: nth($font-sizes, $i)

// Font color
.text-primary
  color: $text-primary

.text-secondary
  color: $text-secondary

.text-white
  color: $white

.text-red
  color: $red

.link
  color: $primary
  cursor: pointer
  &:hover
    text-decoration: underline

.ticker
  font-size: nth($font-sizes, 4) + 0.3rem
  font-weight: 200
  
.transition
  transition: 0.1s all

// Utilities
.noselect
  user-select: none
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  &:hover
    outline: none !important

.align-center
  display: flex
  align-items: center

.justify-center
  display: flex
  justify-content: center
  
// Resets
a
  text-decoration: none
  color: inherit

ul
  list-style-type: none

svg
  path
    fill: $text-primary

thead
  font-weight: bold
  color: $text-secondary

table
  width: 100%
  border-collapse: collapse
  
th
  padding: 1em
  text-align: left

td
  padding: 0.7em 1em