@import "./_variable.sass"

// Font sizes
$font-sizes: 2.75rem, 2.25rem, 1.125rem, 0.75rem

@for $i from 1 through length($font-sizes)
  .h#{$i}
      font-size: nth($font-sizes, $i)

// Font color
.text-primary
  color: $text-primary

.text-secondary
  color: $text-secondary

.text-white
  color: $white

.text-red
  color: $red

.link
  color: $primary
  cursor: pointer
  &:hover
    text-decoration: underline

// Transition
.transition
  transition: 0.1s all

// Utilities
.noselect
  user-select: none
  
// Resets
a
  text-decoration: none
  color: inherit