// Colors
$bg-base: #001C3D
$bg-dark: #000f20
$bg-paper: #234A75
$grid-color: #001d3d

$primary: #0070F4
$green: #0EC568
$red: #ff5757
$white: #F4F4F4
$orange: #FFB800

$text-primary: #DCECFF
$text-secondary: rgba(220, 236, 255, 0.4)
$text-chart: #003A7B

// Font
$font-base: "Poppins", sans-serif
$font-sizes: 2.75rem, 2.25rem, 2rem, 1.25rem, 1.125rem, 0.75rem